<br>
<br>
<br>
<p id="payticket2">A community is nothing without it's camaraderie. Choose from a varied selection of programs and events that residents may participate in.</p>
<br>
<p id="payticket2"><img src="assets/google_calendar.png" id="addCalendar">   Add them to your own calender, in order to know on the go.</p>
<br>
<br>
<iframe src="https://calendar.google.com/calendar/embed?src=58kj53svi8h8pgp1sgv0con0cc%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>