<br>
<br>
<br>
<p id="payticket2">In order to pay tickets, all payments and administrative features are handled by NJ Courts and the NJ MVC Direct website. To ease access, Linden311 has provided this feautre. Tap on the fields for <em>Court ID</em>, <em>Ticket Prefix</em>, <em>Ticket Number</em> and <em>License Plate Number</em>.</p>
<br>
<br>
	<iframe src="http://njcourts.judiciary.state.nj.us/njmcdirect/atswepr2/ticket/search/entry.do?" width="80%" height="541px" style="border:none"></iframe>
