
<p id="payticket1">Welcome to the city of Linden's app for finding resources and solutions!</p>

<div id="signInForm"></div>
	<div class="buttons_static"><%= link_to "Sign In", login_path %></div>
	<div class="buttons_static2"><%= link_to "New Resident / User", new_user_path %></div>
<img src="assets/Linden.png" id="lindenBack">
	
