<h1>Report-a-Hole</h1>
<p>Welcome to the city of Linden's app for reporting potholes and road deterioration!</p>

<div class="buttons_static"><%= link_to "Sign In", login_path %></div>
<div class="buttons_static"><%= link_to "New Resident / User", new_user_path %></div>
