<div id="permits-container">
	
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/clerk/domestic-partnership.pdf">Domestic Partnership</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/clerk/Linden-Marriage-License-Requirements.pdf">Marriage License</a></div>
	<div class="permits"><a href="http://www.linden-nj.org/web_content/pdf/forms/clerk/Voter-Registration.pdf">Voter Registration</a><img src="assets/register-to-vote.png"></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/clerk/Vital-Record-Request.pdf">Certificate Request</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/clerk/OPRA-Request.pdf">OPRA Request</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/Citizen-Leadership.pdf">Citizen Participation</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/construction/Zoning-Permit-Application.pdf">Zoning Permit</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/engineering/Curb-Permit-2014-Linden.pdf">Curb Permit</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/engineering/Sidewalk-Permit.pdf">Sidewalk Permit</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/fire/Fire-Permit.pdf">Fire Permit</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/personnel/Employment-Application.pdf">Seasonal Job App</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/personnel/Employment-Application.pdf">Personnel Job App</a></div>
	<div class="permits"><img src="assets/Handicap.jpg"><a href="http://www.linden-nj.org/web_content/pdf/forms/police/On-Street-Handicapped-Parking-Space-Application.pdf">Handicap Parking App</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/police/Resident-Parking-Permit-Application.pdf">Resident Parking Permit</a></div>
	<div class="permits"><img src="assets/volunteer-hands.jpg"><a href="http://www.linden-nj.org/web_content/pdf/forms/recreation/volunteer-info.pdf">Volunteer Info</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/recreation/recreation-senior-citizen-activities-programs.pdf">Senior Citizen Programs</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/tax-collector/Address-Change-Form.pdf">Change of Address</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/transportation/Railroad-Parking-Permit-3-Month.pdf">Train Station Parking</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/zoning/ZBA_Application_v.08.pdf">Zoning Adjustment</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/health/Food-Establishement-License-Application.pdf">Food Vendor License</a></div>
	<div class="permits"><img src=""><a href="http://www.linden-nj.org/web_content/pdf/forms/health/Food-Event-License-Application.pdf">Food Event License</a></div>

</div>