// Place all the styles related to the potholes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	background-color: #ffb366;
    color: #000000;
    font-family: 'Bitter', serif;
    font-size: 3.5em;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0.2em 40%;
    padding: 0.2em;
}

.item {
	list-style-type: none;
	text-decoration: none;

}

#addPinButton {
	width: 13em;
	height: 4em;
	background-color: #ff8000;
	color: #ffb366;
	border: 4px #ffb366;
	border-radius: 7px;
	position: relative;
	margin-left: 42%;
	margin-top: 2%;
	margin-bottom: 3%;
	font-size: 0.9em;
	text-align: center;
	display: inline-block;
	padding: 5px 5px;
	cursor: pointer;
	outline: none;
	box-shadow: 0 9px #999;
}

#addPinButton:active {
	background-color:  #e67300;
	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}

#addPinButton:hover {
	color: #ffffff;
}

#mapWrapper {
	background-color: #ffb366;
	height: 12%;
	padding: 0 8% 8% 8%;
	margin-left: 3%;
	border-radius: 2%;
	border: 2px solid #ffb366;
	float: center;

	h3 {
		margin-top: 3%;
		margin-bottom: 3%; 
		font-family: 'Lora', serif;
		text-align: center;
		font-size: 1.9em;
	}

	#googleMap {
	margin: 0 auto;
	float: center;
	line-height: 18px;
	border: 5px solid #e67300;
	} 
}

