// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body {
// 	background-image: url('Linden.png');
// }


.video-container {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

video {
  	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#signInForm {
	opacity: 0.7;
	background-color: #ffffff;
	margin: 150px;
	width: 450px;
	height: 280px;
	position: fixed;

	#signin-container {

		margin-left: 10%;
	

	ul {
		list-style-type: none;
		text-decoration: none;
		margin: auto 0;
		font-size: 30px bold;

		li {
			font: 30px bold;
			padding-top: 4%;
		}	
	}
	}
}

.btn-login {
				width: 100px;
				height: 35px;
				background-color: #ff8000;
				color: #ffb366;
				border: 4px outset #ffb366;
				border-radius: 27px;
				position: absolute;
				margin-left: 36%;
				margin-top: 29%;
				margin-bottom: 3%;
				font-size: 13px;
				text-align: center;
				display: inline-block;
				padding: 5px 5px;
				cursor: pointer;
				outline: none;
				box-shadow: 0 9px #999;
				top: 4.7em;
				z-index: 30;
			}
.btn-login:active {
				background-color:  #e67300;
				box-shadow: 0 5px #666;
			  	transform: translateY(4px);
			  	position: absolute;
  				top: 4.7em;
  				z-index:30;
			}